body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}
/* changed the section width form 60% to 100% */
section {
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}
/* original background color */
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
/* new blue background color */
.new-element {
  background-color: blue;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
